body {
  margin: 0;
  background-color: lightgray;
}

#my-canvas {
  background-color: darkgray;
}

#my-canvas,
#gameover-screen {
  display: none;
}

#start-btn {
  background-color: green;
  color: blue;
  padding: 20px;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 50%; 
}
#restart-btn {
  background-color: brown;
  color: white;
  padding: 30px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 50px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
